@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.header {
   
    color: #000; 
    display: flex;
    justify-content: space-between;

    padding-bottom: 20px;
    
   
}



.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 20px;
    color: #555; 
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease; 
}

.icon:hover {
    color: #e60023; 
}
.logo {
    height: 100%;
    display: table-cell;
    overflow: hidden;
    padding-left: 15px;
    vertical-align: middle;
    padding-right: 15px
}
.navigation {
    display: flex;
    margin-right: 20px;
}
.navigation li {
    list-style: none;
    margin-right: 45px;
}
.navigation li a {
    text-decoration: none;
    color: #FFE5B4; 
    font-size: 18px;
    transition: color 0.3s ease; 
}

.search {
    flex-grow: 1;
 
}
.search input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border:0 #ccc; 
    background-color: #e7e6e6;
    border-radius: 45px;
   
    
}




  .active{
    background-color: #555;
    border-radius: 45px;
    padding: 20px;
  }

  #icons{
    
  }

  /*  body */

  * {
    box-sizing: border-box;
    margin: 20;
    padding: 30;
  }
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .item img {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    border-radius: 30px;
    
  }